/* Write your CSS here */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#f9d423, #e2a139);
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
}
.heading {
  font-family: 'Roboto';
  font-weight: 700px;
  font-size: 32px;
  color: #e2a139;
}
.para {
  color: #334155;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
}
.icon {
  width: 150px;
  height: 150px;
}
.button {
  border: none;
  background-color: #f9d423;
  width: 54px;
  height: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 8px;
  cursor: pointer;
  outline: none;
  color: #a35200;
  border-radius: 5px;
  margin-top: 20px;
}
.counting {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.count {
  color: #475569;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  margin-right: 20px;
}
